@import "assets/scss/_variables.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "assets/scss/_table.scss";
@import "assets/scss/_button.scss";

.section-title{
    margin: 0;
    font-weight: bold;
    color: $my-dark-color;
}

.table-data-action > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    a, button{
        position: relative;
        font-size: 1.05rem;
        text-decoration: none;
        color: $my-dark-color;
        transition: 0.3s;

        .hover{
            transform: scale(1.5);
        }
    }        
}
